@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #DFD5A5;
}

h1 {
    font-family: 'Dancing Script';
    text-align: center;
    font-size: 6rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #DBAD6A;
}

img {
    margin: 1rem 1% 1rem 1%;
    width: 38%;
    border-radius: 1rem;
    float: left;
}

.content {
    height: auto;
    width: 58%;
    float: right; 
    margin: 1rem 1% 1rem 1%;
}

.Ingridents, .Steps, .Description {
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 0rem 0rem 1rem 0rem;
    background-color: #DBAD6A;
}

h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}