* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    padding: 16px 5% 16px 5%;

    justify-content: space-between;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    gap: 16px;
}

a, .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.item1 {
    padding: 16px 5% 16px 5%;
    background-color: #1F2937;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.item1 .left, .item1 .right {
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
}

button {
    font-size: 18px;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    width: 20%;
    padding: 8px 16px 8px 16px;
}

.right img {
    height: 200px;
}

.item2 {
    padding: 16px 10% 16px 10%;
}

h2 {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin: 16px;
}

.info-boxes {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: #1F2937
}

.box img {
    border-radius: 8px;
    border: 3px solid #3882F6;
    height: 100px;
    width: 100px;
}