@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 10vh;

    padding: 1% 5% 1% 5%;
    background-color: #1F2937;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    gap: 16px;
}

a, .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.item1 {
    height: 40vh;

    padding: 2vh 5% 2vh 5%;
    background-color: #1F2937;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.item1 .left, .item1 .right {
    width: 45%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item1 .right {
    background-color: hsl(216, 28%, 36%);
}

.item1 .right img {
    height: 100%;
    width: 100%;
}

button {
    font-size: 18px;
    background-color: #3882F6;
    border-radius: 16px;
    color: #F9FAF8;
    padding: 8px 16px 8px 16px;
    margin-top: 8px;
}

.item2 {
    height: 50vh;

    padding: 2vh 10% 2vh 10%;
}

h2 {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.info-boxes {
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: #1F2937
}

.box img {
    border-radius: 8px;
    border: 3px solid #3882F6;
    height: 100px;
    width: 100px;
}

.item3 {
    height: 50vh;

    padding: 2vh 10% 2vh 10%;
    background-color: #E5E7EB;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item3 p {
    font-size: 36px;
    font-style: italic;
    font-weight:300;
    color: #1F2937;
}

.quote-author {
    font-size: 36px;
    font-weight: 800px;
    color: #1F2937;
    text-align: right;
}

.item4 {
    height: 40vh;
    padding: 2vh 5% 2vh 5%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.call-to-action {
    height: 14vh;

    background-color: #3882F6;
    color:#F9FAF8;

    display: flex;
    align-items: center;
    justify-content: center;
}

.call-to-action .left {
    flex: 3;
    padding-left: 5vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call-to-action .right {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer {
    height: 10vh;

    color:#F9FAF8;
    background-color: #1F2937;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}